.app-layout {
  height: 100vh;
  display: grid;
  place-items: center;

  background-image: url("../../../../public/images/background.jpg");
  background-color: rgba(120, 120, 120, 0.8);
  background-blend-mode: multiply;
}

.app-content {
  font-size: 14px;

  position: relative;
  background: transparent !important;

  box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
  border: 1px solid #f0f0f0;
  border-radius: 10px !important;

  width: 80%;
}
