.card-grid {
  display: grid;
  margin: 0 auto;
  gap: 0.5rem;
}

.card-grid.sm {
  grid-template-columns: repeat(3, 150px);
  grid-auto-rows: 150px;
}

.card-grid.md {
  grid-template-columns: repeat(4, 150px);
  grid-auto-rows: 150px;
}

.card-grid.lg {
  grid-template-columns: repeat(6, 130px);
  grid-auto-rows: 130px;
}

.card-grid.xl {
  grid-template-columns: repeat(6, 120px);
  grid-auto-rows: 120px;
}

/* small hack to make squares for all grid items */
/* .card-grid::before {
  content: "";
  width: 0;
  padding-bottom: 100%;
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

.card-grid > *:first-child {
  grid-row: 1 / 1;
  grid-column: 1 / 1;
} */

.game-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  padding: 0 10%;
}

.action-buttons {
  display: flex;
  align-self: center;
  gap: 0.5rem;
}
